<template name="footer">
	<!-- Footer -->
    <footer>
        <div class="row-fluid">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="social">
              <li><a href=""><img src="../../images/Facebook.png" width="43" height="43" alt="Facebook"></a></li>
              <li><a href=""><img src="../../images/Twitter.png" width="43" height="43" alt="Twitter"></a></li>
              <li><a href=""><img src="../../images/Instagram.png" width="43" height="43" alt="Instagram"></a></li>
              <li><a href=""><img src="../../images/YouTube.png" width="43" height="43" alt="YouTube"></a></li>
            </ul>
            <p class="">Created & Powered by <img src="../../images/RedTapeLogo.png" width="79" height="37" alt="RedTapeLogo">RedtapeDesign.com</p>
          </div>
        </div>
    </footer>
    <!-- /Footer -->
</template>